<h1>Result</h1>

<% if (required > 100) %>

<img src="http://i.giphy.com/E9ODQVVivmG2s.gif">

<% else %>

<img src="http://i.giphy.com/zsdlritBT7QhW.gif">

<% end %>


<p>If you want to increase from a(n) <%= current %> to a(n) <%= desired %> you will need to get a(n) <%= required %> in your final.</p>

<p><a href="/">Back to form</a></p>
