<h1>Final Calculator</h1>


<form action="/calc" method="POST">
  Current Grade: <input type="text" name="current" value="84"><br/>    
  Percent of Final: <input type="text" name="percent" value="20"><br/> 
  Desired Class Grade: <input type="text" name="desired" value="86"><br/>
  <input type="submit">
</form>
